# ==============================
#   Directories
# ==============================

pm-aod-analysis/data/**/*.csv
pm-aod-analysis/data/**/*.RData

# ==============================
#   Julia
# ==============================

*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jli
